/* Font */
@font-face {
    font-family: 'Jakarta';
    src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  }

/* Page Styling */
html {
    background-color: #f9fafe;
    height: calc(100vh - 16px);
}
body {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
    justify-content: center;
}
@media (max-width: 768px) {
    body {
        margin: 0;
    }
}

/* Main Styling */
main {
    background-color: #fff;
    border-radius: 15px;
    font-family: 'Jakarta',sans-serif;
    max-width: 735px;
    width: 100%;
    box-shadow: 0px 0px 35px 0px #F0F0F0;
    display: flex;
    flex-wrap: wrap;
    padding: 35px 35px 0px 35px;
}
@media (max-width: 768px) {
    main {
        height: 100%;
        border-radius: 0;
    }
}

/* Header Styling*/
.notifications-heading {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.notifications-title {
    margin: 0px;
}
.notifications-read {
    margin-left: auto;
}

/* Footer Styling */
footer {

}
.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media (max-width: 768px) {
    footer {

    }
}