/* Font */
@font-face {
    font-family: 'Jakarta';
    src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  }

/* Page Styling */
html {
    background-color: #f9fafe;
    height: calc(100vh - 16px);
}
body {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
    justify-content: center;
}
@media (max-width: 768px) {
    body {
        margin: 0;
        height: auto;
    }
}

/* Main Styling */
main {
    background-color: #fff;
    border-radius: 15px;
    font-family: 'Jakarta',sans-serif;
    max-width: 665px;
    width: 100%;
    box-shadow: 0px 0px 35px 0px #F0F0F0;
    display: flex;
    flex-wrap: wrap;
    padding: 35px 35px 0px 35px;
}
@media (max-width: 768px) {
    main {
        border-radius: 0;
        padding: 20px;
    }
}

/* Header Styling*/
.notifications-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 15px;
}
.notifications-title {
    margin: 0px;
    font-size: 23px;
    font-weight: 800;
}
.notifications-number {
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    background-color: hsl(219, 85%, 26%);
    width: 32px;
    text-align: center;
    border-radius: 6px;
    margin-left: 10px;
    padding: 2px 0px 2px 0px;
    transition: all 0.15s ease;
}
.notifications-read {
    margin-left: auto;
    border: none;
    background-color: transparent;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Jakarta',sans-serif;
    color: hsl(219, 12%, 42%);
    cursor: pointer;
    transition: color 0.15s ease;
}
@media (max-width: 768px) {
    .notifications-title {
        font-size: 20px;
    }
    .notifications-read {
        font-size: 14px;
    }
}

/* Card Styling */
.notification-card {
    display: flex;
    margin: 10px 0 10px 0;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.15s ease;
}
.notification-text-dot {
    height: 7px;
    width: 7px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 1px;
    transition: all 0.15s ease;
}
.notification-card :is(.name, .group, .notification-text, .notification-timestamp, .notification-message) {
    font-size: 16px;
    font-family: 'Jakarta',sans-serif;
}
.profile-picture-section {
    margin-right: 15px;
}
.profile-picture {
    width: 40px;
}
.notification-text {
    margin: 0px;
    color: hsl(219, 12%, 42%);
    font-weight: 500;
}
.notification-message-link {
    text-decoration: none;
}
.notification-message {
    color: hsl(219, 12%, 42%);
    font-weight: 500;
    border: 1px solid hsl(205, 33%, 90%);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 0;
    transition: background-color 0.15s ease, border-color 0.15s ease;
}
.name, .group, .post {
    text-decoration: none;
    font-weight: 800;
    margin-right: 5px;
    transition: color 0.15s ease;
}
.name {
    color: hsl(224, 21%, 14%);
}
.group, .post {
    color: hsl(219, 12%, 42%);
}
.notification-timestamp {
    color: hsl(219, 14%, 63%);
    font-weight: 500;
}
.notification-image-section {
    margin-left: auto;
}
.notification-image {
    width: 45px;
    box-sizing: content-box;
    border: 3px solid transparent;
}
@media (max-width: 768px) {
    .notification-card :is(.name, .group, .notification-text, .notification-timestamp, .notification-message) {
        font-size: 14px;
    }
    .notification-card {
        padding: 15px;
    }
}

/* Unread Card Styling */
.notification-card.unread {
    background-color: hsl(210, 60%, 98%);
}
.notification-card.unread .notification-text-dot {
    background-color: hsl(1, 90%, 64%);
    box-shadow: 0 0 1px hsl(1, 90%, 64%);
}

/* Active States */
.name:hover, .post:hover, .group:hover, .notifications-read:hover, .name:focus, .post:focus, .group:focus, .notifications-read:focus {
    color: hsl(219, 85%, 26%);
}
.notification-message-link:hover .notification-message, .notification-message-link:focus .notification-message {
    background-color: hsl(211, 68%, 94%);
    border-color: hsl(211, 68%, 94%);
}
.notification-image-link:hover .notification-image, .notification-image-link:focus .notification-image {
    border: 3px solid hsl(205, 33%, 90%);
    border-radius: 10px;
}

/* Footer Styling */
footer {
    font-family: 'Jakarta',sans-serif;
    flex-basis: 100%;
}
.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}